services:
  kleinmanager:
    build:
      context: .
      dockerfile: Dockerfile
      args:               
        GIT_COMMIT: ${GIT_COMMIT}
        GIT_DATE: ${GIT_DATE}
    container_name: kleinmanager    
    ports:
      - "8080:8000"   
    volumes:
      - /docker/klein/manager/data:/app/data
      - ${SHARED_ADS}:/app/ads
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - GIT_COMMIT=${GIT_COMMIT}
      - GIT_DATE=${GIT_DATE}
      - BUILD_DATE=${BUILD_DATE}
      - APP_VERSION=${APP_VERSION}
    # depends_on:
    #   - kleinbot

  # kleinbot:
  #   container_name: ${KLEINBOT_NAME:-kleinbot}
  #   build:
  #     context: ./kleinanzeigen-bot   # ✅ Ordner, in dem das Dockerfile liegt
  #     dockerfile: Dockerfile         # falls dein Dockerfile anders heißt, hier anpassen
  #   image: second-hand-friends/kleinanzeigen-bot:latest
  #   shm_size: "256m"
  #   environment:
  #     - DISPLAY=${X11_DISPLAY}
  #   volumes:  
  #     - ${KLEINBOT_DATA}:/mnt/data
  #     - ${SHARED_ADS}:/mnt/data/ads