services:
  kleinmanager:
    build:
      context: .
      dockerfile: Dockerfile
      args:               
        GIT_COMMIT: ${GIT_COMMIT}
        GIT_DATE: ${GIT_DATE}
    container_name: kleinmanager    
    ports:
      - "8080:8000"   
    volumes:
      - /docker/klein/manager/data:/app/data
      - ${ADS}:/app/ads  
    environment:
      - GIT_COMMIT=${GIT_COMMIT}
      - GIT_DATE=${GIT_DATE}
      - BUILD_DATE=${BUILD_DATE}
      - APP_VERSION=${APP_VERSION}
    # depends_on:
    #   - kleinbot

  kleinbot:
    image: ghcr.io/second-hand-friends/kleinanzeigen-bot:latest
    container_name: kleinbot
    shm_size: "256m"
    environment:
      - DISPLAY=${X11_DISPLAY}
    volumes:  
      - ${KLEINBOT_DATA}:/mnt/data
      - ${ADS}:/mnt/data/ads